*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.backgroundContainer{
    background: url("./Images/Banner_img.jpg");
    width: 100%;
    height: 200vh;
    background-image: 100% 100%;
    filter: blur(16px);
    opacity: 20%;
    position: relative;
}

.pinkOverlay{
    background-color: rgba(131, 64, 98, 0.555);
    width: 100%;
    height: 200vh;
}

.contentContainer{
    position: absolute;
    padding: 0 2rem;
    top: 0;
    left: 0;
    width: 100%;
}

.navContainer{
    /* border: 2px solid saddlebrown; */
    position: fixed;
    top: 0;
    left: 10px;
    right: 5px;
}

.upperNav{
    /* border: 2px solid white; */
    display: flex;
    width: 100%;
}

.navLeftSection{
    /* border: 2px solid gold; */
    width: 50%;
}

.navLeftSection .logoImg{
    width: 30%;
}

.navRightSection{
    /* border:  2px solid green; */
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 31%;
}

.languageButtonSection{
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 50px;
    margin-right: 1rem;
    display: flex;
}

.languageButtonSection select{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.languageButtonSection option{
    color: black;
}

.signInButton button{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;

    &:hover{
        background-color: rgba(255, 255, 255, 0.76);
        transition: 0.5s;
    }
}

.menuList{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    margin: auto;
    list-style-type: none;
    padding: 0.8rem 0;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.534);
    cursor: pointer;
}

.menuListItems{
    color: rgba(255, 255, 255, 0.61);
    font-weight: 550;
    transition: 0.2s;

    &:hover{
        color: white;
        transition: 0.2s;
    }
}

.sectionContainer{
    margin-top: 30vh;
}

.bannerSection{
    background: url("./Images/Banner_img.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    border-radius: 30px;
    /* border: 2px solid wheat; */
}

.overlay{
    height: 100%;
    width: 100%;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 1));
    border-radius: 30px;
}