*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.backgroundContainer{
    background: url("./Images/Banner_img.jpg");
    width: 100%;
    height: 200vh;
    background-image: 100% 100%;
    filter: blur(20px);
    opacity: 20%;
    position: absolute;
}

.pinkOverlay{
    background-color: rgba(0, 0, 0, 0.637);
    width: 100%;
    height: 200vh;
}

.contentContainer{
    position: relative;
}

.navContainer{
    border: 2px solid saddlebrown;
    position: fixed;
}

.upperNav{
    border: 2px solid white;
    display: flex;
    width: 100%;
}

.navLeftSection{
    border: 2px solid gold;
    width: 50%;
}

.navLeftSection .logoImg{
    width: 30%;
}

.navRightSection{
    border:  2px solid green;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lowerNav{
    border: 2px solid blue;
}

.menuList{
    border: 2px solid violet;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;
}