*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.backgroundContainer{
    background: url("./Images/Banner_img.jpg");
    width: 100%;
    height: 200vh;
    background-image: 100% 100%;
    filter: blur(16px);
    opacity: 20%;
    position: relative;
}

.pinkOverlay{
    background-color: rgba(131, 64, 98, 0.555);
    width: 100%;
    height: 200vh;
}

.contentContainer{
    position: absolute;
    padding: 0 2rem;
    top: 0;
    left: 0;
    width: 100%;
}

.navContainer{
    /* border: 2px solid saddlebrown; */
    position: fixed;
    top: 0;
    left: 10px;
    right: 5px;
    z-index: 1;
}

.upperNav{
    /* border: 2px solid white; */
    display: flex;
    width: 100%;
}

.navLeftSection{
    /* border: 2px solid gold; */
    width: 50%;
}

.navLeftSection .logoImg{
    width: 30%;
}

.navRightSection{
    /* border:  2px solid green; */
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 31%;
}

.languageButtonSection{
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 50px;
    margin-right: 1rem;
    display: flex;
}

.languageButtonSection select{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.languageButtonSection option{
    color: black;
}

.signInButton button{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;

    &:hover{
        background-color: rgba(255, 255, 255, 0.76);
        transition: 0.5s;
    }
}

.menuList{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    margin: auto;
    list-style-type: none;
    padding: 0.8rem 0;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.877);
    cursor: pointer;
}

.menuListItems{
    color: rgba(255, 255, 255, 0.61);
    transition: 0.2s;

    &:hover{
        color: white;
        transition: 0.2s;
    }
}

.sectionContainer{
    margin-top: 30vh;
}

.bannerSection{
    background: url("./Images/Banner_img.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    border-radius: 30px;
    position: relative;
    /* border: 2px solid wheat; */
}

.overlay{
    height: 100%;
    width: 100%;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 1));
    border-radius: 30px;
}

.bannerContent{
    /* border: 2px solid white; */
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.bannerContent h2{
    font-size: 3rem;
    font-weight: bold;
    width: 50%;
    text-align: center;
    padding-bottom: 1rem;
}

.bannerContent .bannerSubTitle{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.bannerContent .bannerDescription{
    padding-bottom: 1rem;
}

.inputSection{
    /* border: 2px solid white; */
    width: 50%;
    display: flex;
    justify-self: space-between;
    flex-direction: column;
}

.inputLabel input{
    width: 55%;
    padding-left: 1rem;
    height: 4rem;
    border: 1px solid white;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 1rem;
    background-color: rgb(61, 59, 59);
}

.inputSection input::placeholder{
    color: rgb(173, 169, 169);
}

.inputSection button{
    width: 40%;
    height: 4rem;
    border-radius: 50px;
    border: none;
    background-color: red;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    margin-left: 0.5rem;
    transition: 0.2s;

    &:hover{
        background-color: rgb(182, 2, 2);
        transition: 0.2s;
    }
}

.trendingSection,.planSection,.reasonsSection,.faqSection{
    /* border: 2px solid white; */
    width: 90%;
    margin: 2rem auto;
}

.trendingSection h2,.planSection h2,.reasonsSection h2,.faqSection h2{
    color: white;
    font-size: 2rem;
}

.carousalCard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;
    /* border: 2px solid white;     */
}

.card{
    position: relative;
    transition: 0.2s ease-in-out;

    &:hover{
        transform: scale(1.1);
        transition: 0.2s ease-in-out;
    }
}

.carouselNumberContainer{
    position: absolute;
    z-index: 1;
    left: -13%;
}

.carouselNumberContainer span{
    font-size: 4rem;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.863);
    -webkit-text-stroke: 2px white;
}

.carouselImageContainer{
    width: 100%;
    height: 100%;
}

.carouselImageContainer img{
    width: 100%;
    height: 50vh;
    border-radius: 20px;
}

.planCards,.reasonsCard{
    display: flex;
    justify-content: space-between;
    height: 80%;
    margin-top: 1rem;
}

.planCard{
    height: 50vh;
    width: 24%;
    border: 1px solid rgba(172, 171, 171, 0.589);
    border-radius: 20px;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.planCard1{
    background: linear-gradient(149deg,#1c6172 6.96%,#7c3754 40.17%,#120c1f 73.39%);    
    
    &:hover{
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}
}
.planCard2{
    background: linear-gradient(149deg,#1f4375 6.96%,#39225e 40.17%,#120c1f 73.39%);    
    
    &:hover{    
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}
}
.planCard3{
    background: linear-gradient(149deg,#1c5772 6.96%,#4c1f55 40.17%,#120c1f 73.39%);    
    
    &:hover{
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}
}
.planCard4{
    background: linear-gradient(149deg,#1c2272 6.96%,#3a0f57 40.17%,#120c1f 73.39%);    
    
    &:hover{
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}
}
.planCard .description h2{
    font-size: 1.5rem;
    font-weight: 550;
    padding: 1rem 0;
}

.planCard .description h3{
    font-size: 1rem;
    padding-bottom: 1rem;
}

.planCard .description p{
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.reasonCard{
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.39);
    border-radius: 20px;
    width: 24%;
    height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    background-color: rgb(49, 48, 48);
}

.reasonDescription h3{
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.reasonDescription p{
    font-size: 1.1rem;
    color: rgb(161, 160, 160);
}